body {
  background-color: #3E4551;
}
.Aligner {
  /*height: 100vh;*/
  width: 100%;
  font-family: Arial;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  -webkit-flex-direction: column;
  flex-direction: column;
}
.searchandlist {
  margin-top: 3rem;
  width: 98vw;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.restaurantcard {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.restaurantdescription {
  height: 100%;
  margin-left: 2rem;
}
.searchandlist input {
  color: white;
  margin-bottom: 0;
}
.searchandlist input, button {
  width: 70%;
}
.goinglist {
  /*position: fixed;*/
  padding: 1rem;
}
.subtext {
  color: white;
  font-size: 0.8rem;
}
.bigcard img {
  width: 50%;
}
.error {
  width: 100%;
  color: white;
  background-color: #ef9a9a;
  opacity: 0.8;
  text-align:center;
  border-radius: 2px;
}
.signup {
  width: 30%;
  margin-top: 5%;
  z-index: 2;
  position: fixed;
}
.signup input {
  width: 80%;
}
.card-contents {
  padding: 2rem;
}
input {
  margin-bottom: 2rem;
  width: 80%;
  text-align: center;
}
.bigcard button {
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
}
.bigcard {
  width: 60vw;
  padding: 4rem;
  margin-top: 2rem;
  text-align: center;
}
.smallcard {
  width: 40vw;
  padding: 4rem;
  margin-top: 5%;
  text-align: center;
  z-index: 2;
  position: absolute;
}
.dropdownsubmit {
  text-align: center;
}
.dropdownloggedin {
  width: 10%;
}
.dropdown input {
  width: 80%;
  margin: 0.5rem;
  text-align: center;
}
.grid-by-rows {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.grid-by-columns {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  width: 99%;
}
.btn-info {
  background-color: #00bcd4 !important;
}
